*
!parciales/
parciales/*
!parciales/Parcial2/
parciales/Parcial2/*
!parciales/Parcial2/package.json
!parciales/Parcial2/package-lock.json
!parciales/Parcial2/index.html
!parciales/Parcial2/vite.config.ts
!parciales/Parcial2/tsconfig.json
!parciales/Parcial2/src/
!parciales/Parcial2/src/**
!parciales/Parcial2/public/
!parciales/Parcial2/public/**
!parciales/Parcial2/admin-backoffice/
parciales/Parcial2/admin-backoffice/*
!parciales/Parcial2/admin-backoffice/package.json
!parciales/Parcial2/admin-backoffice/package-lock.json
!parciales/Parcial2/admin-backoffice/index.html
!parciales/Parcial2/admin-backoffice/vite.config.ts
!parciales/Parcial2/admin-backoffice/tsconfig.json
!parciales/Parcial2/admin-backoffice/tsconfig.app.json
!parciales/Parcial2/admin-backoffice/tsconfig.node.json
!parciales/Parcial2/admin-backoffice/src/
!parciales/Parcial2/admin-backoffice/src/**
!parciales/Parcial2/admin-backoffice/public/
!parciales/Parcial2/admin-backoffice/public/**
